@model IEnumerable<ProjektSklep.Models.Order>

@{
    ViewData["Title"] = "Strona klienta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ClientPanel {
    <div class="sidebar-header hidden-sm-down">
        <h2>Panel Klienta</h2>
        <hr />
    </div>
    <div class="sidebar-content hidden-sm-down">
        <ul>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="ClientPanel" asp-action="Index">Historia zamówień</a>
            </li>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="ClientPanel" asp-action="Configuration">Konfiguracja</a>
            </li>
        </ul>
    </div>
}

<table class="table">
    <thead>
        <tr class="table-primary">
            <th style="text-align: center; vertical-align: middle;">
                @Html.DisplayNameFor(model => model.OrderID)
            </th>
            <th style="text-align: center; vertical-align: middle;">
                @Html.DisplayNameFor(model => model.OrderStatus)
            </th>
            <th style="text-align: center; vertical-align: middle;">
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th style="text-align: center; vertical-align: middle;">
                @Html.DisplayNameFor(model => model.ShippingMethod)
            </th>
            <th style="text-align: center; vertical-align: middle;">
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>
            <th style="text-align: center; vertical-align: middle;">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th style="text-align: center; vertical-align: middle;">
                Zamów ponownie
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td style="text-align: center; vertical-align: middle;">
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td style="text-align: center; vertical-align: middle;">
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td style="text-align: center; vertical-align: middle;">
                @Html.DisplayFor(modelItem => item.Customer.Email)
            </td>
            <td style="text-align: center; vertical-align: middle;">
                @Html.DisplayFor(modelItem => item.ShippingMethod.Name)
            </td>
            <td style="text-align: center; vertical-align: middle;">
                @Html.DisplayFor(modelItem => item.PaymentMethod.Name)
            </td>
            <td style="text-align: center; vertical-align: middle;">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td style="text-align: center; vertical-align: middle;">
                <a asp-action="Reorder" asp-route-id="@item.OrderID">Reorder</a>
            </td>
            <td style="text-align: center; vertical-align: middle;">
                <a asp-action="Details" asp-route-id="@item.OrderID">Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>
