
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model ProjektSklep.Models.ShoppingCart
}

@if (Model.MissingProductList.Count != 0)
{
    <h1>BRAKI NA STANIE</h1>
    <h3>
        Niestety, ale na stanie nie ma aktualnie wystarczająco produktów, które chcesz kupić, spróbuj usunąć je z koszyka i spróbować jeszcze raz.
        Poniżej lista produktów, których ilość w magazynie jest niewystarczająca:
    </h3>
    <table class="table">
        <thead>
            <tr>
                <th style="text-align: center; vertical-align: middle;">
                    Nazwa produktu
                </th>
                <th>

                </th>
                <th style="text-align: center; vertical-align: middle;">
                    Ilość w koszyku
                </th>
                <th style="text-align: center; vertical-align: middle;">
                    Ilość w magazynie
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MissingProductList)
            {
                <tr>
                    <td style="text-align: center; vertical-align: middle;">
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        <img src="@Url.Content(item.Product.Image)" style="height: 100px; width: 150px;" />
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        @Html.DisplayFor(modelItem => item.Count)
                    </td>
                    <td style="text-align: center; vertical-align: middle; color: red">
                        @Html.DisplayFor(modelItem => item.Product.Amount)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <div class="container">
        <div class="border align-self-center" style="padding: 10px">
            <p>
                Możesz zamówić te produkty teraz mimo braku asortymentu, lecz zamówienie te będzie w stanie
                <b>NOWE</b> do czasu pojawienia się brakujących produktów w magazynie. Gdy zostaną zapakowane wszystkie zamówione przez Ciebie
                produkty otrzymasz powiadomienie na swoją pocztę o stanie Twojego zamówienia. Jeżeli chcesz złożyć zamówienie, to <b>Wróć do koszyka</b> 
                a następnie zaznacz pole <b>Złóż zamówienie mimo braku produktów w magazynie</b>.
            </p>
            <div class="d-flex justify-content-center">
                <form asp-action="OrderCompletedDespiteDeficit"></form>
                <a class="btn btn-primary" style="width: 150px; margin: 5px" asp-controller="ShoppingCart" asp-action="Index">Wróć do koszyka</a>
            </div>
        </div>
    </div>
}
else if (Model.ProductList.Count == 0)
{
    <h2>Koszyk pusty, nie można wykonać zamówienia</h2>
}
else
{
    <h2>Zamówiono następujące produkty:</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductList.ElementAt(0).Product)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductList.ElementAt(0).Product.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductList.ElementAt(0).Count)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductList.ElementAt(0).Sum)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ProductList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        <img src="@Url.Content(item.Product.Image)" style="height: 100px; width: 150px;" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Count)
                    </td>
                    <td>
                        @item.Sum
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h3>Sposób wysyłki: @ViewBag.ShippingMethod</h3>
    <h3>Sposób płatności: @ViewBag.PaymentMethod</h3>
    <h3>Rabat: @ViewBag.DiscountCode%</h3>
    <h3>Razem do zapłaty (przed rabatem): @ViewBag.CenaBezRabatu</h3>
    <h3>Razem do zapłaty: @Model.CartPrice</h3>
    bool isDeficit = false;
    foreach (var item in Model.ProductList)
    {
        if (item.Product.Amount < 0)
        {
            isDeficit = true;
        }
    }
    if (isDeficit == true)
    {
        <h3 style="color: red">
            <b>
                Zamówienie zawiera conajmniej jeden produkt, którego aktualnie nie ma na stanie. Realizacja tego zamówienia
                potrwa dłużej niż zwykle.
            </b>
        </h3>
    }
}