@model PaginatedList<ProjektSklep.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutProductList.cshtml";
}

<h1>Index</h1>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Wyszukaj po nazwie: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" class="mt-1"/>
            <br />
            Wyszukaj po nazwie w opisie: <input type="text" name="SearchString_Description" value="@ViewData["CurrentFilter2"]" class="mt-1"/>
            <br />
            Cena od: <input type="text" name="SearchString_PriceFrom" value="@ViewData["CurrentFilter3"]" class="mt-1"/>
            <br />
            Cena do: <input type="text" name="SearchString_PriceTo" value="@ViewData["CurrentFilter4"]" class="mt-1"/>
            <br />
            W promocji: <input type="checkbox" name="SearchString_Promotion" checked="@ViewData["CurrentFilter5"]" class="mt-1"/>
            <input type="submit" value="Wyszukaj" class="btn btn-default" /> |
            <a asp-action="Index">Powrót do całej listy</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Nazwa</a>
            </th>
            <th>
                Obraz
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Cena</a>
            </th>
            <th>
                Ilość
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Product", "Home", new { id = item.ProductID })
                </td>
                <td>
                    <img src="@Url.Content(item.Image)" style="height: 100px; width: 150px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-currentFilter2="@ViewData["CurrentFilter2"]"
   asp-route-currentFilter3="@ViewData["CurrentFilter3"]"
   asp-route-currentFilter4="@ViewData["CurrentFilter4"]"
   asp-route-currentFilter5="@ViewData["CurrentFilter5"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-currentFilter2="@ViewData["CurrentFilter2"]"
   asp-route-currentFilter3="@ViewData["CurrentFilter3"]"
   asp-route-currentFilter4="@ViewData["CurrentFilter4"]"
   asp-route-currentFilter5="@ViewData["CurrentFilter5"]"
   class="btn btn-default @nextDisabled">
    Next
</a>