@model ProjektSklep.Models.ViewModels.CustomerDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Address.AddressID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.PageConfiguration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.PageConfiguration.PageConfigurationID)
        </dd>
    </dl>
</div>

<form asp-action="SendDiscount">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label>Discount percent: </label>
        <select asp-for="DiscountCodeID" class="form-control" asp-items="ViewBag.DiscountCodes"></select>
    </div>
        <input asp-for="Customer.Id" value="@Model.Customer.Id" type="hidden" />
        <div class="form-group">
            <input type="submit" value="Send Discount" class="btn btn-primary" />
        </div>
</form>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Customer.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
